PORT=8000

MONGODB_URI=mongodb+srv://arbin:arbin@protfolio.kctx1mv.mongodb.net

CORS_ORIGIN=

ACCESS_TOKEN_SECRET=ajhsdgbixunasgduxyhgdsnybcagdufynbasuygnxdzubnydashjiodnbcuiyagxiuybgwdyftgxauyngbfh87qzygnsdihyutgfwyutcgvyudtgvcyutfgnvytfgfygcfgcfdgcfd
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=xsdugyhugyhixgyubihguyidbgyubdidaxgusdgcvdyugcdcyvgubsixufcbsdynguisyxguyfdgfdgdfigsgydfcsgydcgydygudscydydydydydybingfghmabberuhdiahdiahsdahdsuhuchaunxaujdahaimalalcajanadndajinjjijijhajda
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=duf0lemv8
CLOUDINARY_API_KEY=436187723496177
CLOUDINARY_API_SECRET=NQtqfqIBFb0jriNvgoQoR83SMuI
